<app-stream-video class="" [mediaStream]="_mediaStream" [videoStyle]="_videoStyle" [muted]="_muted"
    (pointerenter)="onPointerEnter($event)" (pointermove)="onPointerMove($event)"
    (pointerleave)="onPointerLeave($event)"></app-stream-video>
<div class="pos-abs top-left" #label>
    <ng-content select="[label]"></ng-content>
</div>
<div class="pos-abs bottom-right" #controls>
    <ng-content select="[controls]"></ng-content>
</div>
<app-pointer *ngFor="let kv of pointerChannels | keyvalue" [nickname]="kv.value" [dataChannel]="kv.key"></app-pointer>