.mirror {
    transform: rotateY(180deg);
    /* Safari and Chrome */
    -webkit-transform: rotateY(180deg);
    /* Firefox */
    -moz-transform: rotateY(180deg);
}

/* :host {
    display: flex;
} */

/* video {
    align-self: flex-end;
} */

/* .fullscreen {
    width: 100vw;
} */