.mirror {
    transform: rotateY(180deg);
    /* Safari and Chrome */
    -webkit-transform: rotateY(180deg);
    /* Firefox */
    -moz-transform: rotateY(180deg);
}

.fullscreen {
    width: 100vw;
}

/* video {
    height: 100%;
    width: 100%;
} */

