<div class=container>

    <div class="row">
        <div class="col">
            <p>Conversation name : {{conversation?.name}}</p>
            <p>Conversation peerId : {{conversation?.peerId}}</p>
            <p>User id : {{user?.id}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>Stream id : {{localMediaStream?.id}}</p>
            <app-stream-video [mediaStream]="localMediaStream"></app-stream-video>
        </div>
    </div>
    <div>
        <button (click)="publish()">publish</button>
    </div>
    <div>
        <button (click)="shareScreen()">shareScreen</button>
    </div>
    <div>
        <button (click)="goHd()">goHd</button>
    </div>

    <!-- <div class="row">
        <div *ngFor="let kv of conversation?.peersById | keyvalue" class="col">
            <p>{{kv.key}} : {{kv.value.id}}</p>
        </div>
    </div> -->

    <a #dwnld style="display:none;" href></a>
    <div *ngFor="let kv of streamsByUserAndId | keyvalue" class="row">
        <p>User {{kv.key.id}} </p>
        <div *ngFor="let kvj of kv.value | keyvalue" class="col">
            <app-stream-video [mediaStream]="kvj.value"></app-stream-video>
            <div>
                <button *ngIf="!mediaRecorder" (click)="record(kvj.value)">Record</button>
                <button *ngIf="mediaRecorder" (click)="stopRecording()">StopRecording</button>
            </div>
        </div>
    </div>
</div>