<app-controlled-stream [stream]="_localStream" [mediaStream]="_mediaStream" [videoStyle]="_videoStyle" [muted]="true">
    <span label>{{_publishOptions.topic}}</span>
    <div controls>
        <div>
            <button mat-mini-fab color="primary" aria-label="publish-audio" title="publish audio"
                (click)="togglePublishAudio()">
                <mat-icon>{{_publishOptions.audio ? 'mic':'mic_off'}}</mat-icon>
            </button>
        </div>
        <div class="mt-1">
            <button mat-mini-fab color="primary" aria-label="publish-video" title="publish video"
                (click)="togglePublishVideo()">
                <mat-icon>{{_publishOptions.video ? 'videocam':'videocam_off'}}
                </mat-icon>
            </button>
        </div>
        <!-- <div class="mt-1">
            <button mat-mini-fab color="basic" aria-label="audio" (click)="toggleAudio()">
                <mat-icon>{{audioEnabled ? 'mic':'mic_off'}}</mat-icon>
            </button>
        </div>
        <div class="mt-1">
            <button mat-mini-fab color="basic" aria-label="video" (click)="toggleVideo()">
                <mat-icon>{{videoEnabled ? 'videocam':'videocam_off'}}</mat-icon>
            </button>
        </div> -->
    </div>
</app-controlled-stream>