<div class="container-fluid">
    <!-- <div *ngFor="let kv of mediaStreamsByParticipantAndStream | keyvalue" class="row">
        <p>User {{kv.key.id}} </p>
        <span>kv.value.size = {{kv.value.size}}</span>
        <div *ngFor="let kvj of kv.value | keyvalue" class="col">
            <span>{{kvj.value[0]}}</span>
            <app-stream-video [mediaStream]="kvj.value[1]"></app-stream-video>
            <div>
                <button *ngIf="!mediaRecorder" (click)="record(kvj.value[1])">Record</button>
                <button *ngIf="mediaRecorder" (click)="stopRecording()">StopRecording</button>
            </div>
        </div>
    </div> -->
    <!-- rowHeight="100px" -->
    <!-- {{year}} -->
    <!-- <mat-grid-list class="vw-100 vh-100" cols="1" rowHeight="fit" gutterSize="2px">
        <mat-grid-tile>
            <app-local-stream class="h-100" [mediaStream]="localMediaStream"
                (onTracksStatusChanged)="localStream?.notifyTracksStatusChanged()"></app-local-stream>
        </mat-grid-tile>
    </mat-grid-list> -->
    <div class="row" *ngIf="localMediaStream&&mediaStreamsByParticipantAndStream.size===0">
        <div class="col-6">
            <p>MediaStream id : {{localMediaStream.id}}</p>
            <!-- (onTracksStatusChanged)="localStream?.notifyTracksStatusChanged()" -->
            <app-local-stream class="h-100" [mediaStream]="localMediaStream"></app-local-stream>
        </div>
    </div>

    <!-- <div class="row mt-5">
        <div class="col mt-5">
            <div>Capabilities:
                <p>audio: {{audioTrackCapabilities | json}}</p>
                <p>video: {{videoTrackCapabilities | json}}</p>
            </div>
            <div>Constraints:
                <p>audio: {{audioTrackConstraints | json}}</p>
                <p>video: {{videoTrackConstraints | json}}</p>
            </div>
            <div>Settings:
                <p>audio: {{audioTrackSettings | json}}</p>
                <p>video: {{videoTrackSettings | json}}</p>
            </div>
        </div>
    </div> -->

    <div class="row" *ngIf="localMediaStream&&mediaStreamsByParticipantAndStream.size>0">
        <!-- position-relative -->
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-10">
            <!-- class="vw-100 vh-100" -->
            <mat-grid-list cols="1">
                <mat-grid-tile *ngFor="let kv of mediaStreamsByParticipantAndStream | keyvalue" [colspan]="1"
                    [rowspan]="1">
                    <!-- class="w-100 h-100" -->
                    <mat-card appearance="outlined">
                        <mat-card-header>
                            <!-- <div mat-card-avatar class="example-header-image"></div> -->
                            <mat-card-title>{{kv.key.user.userData?.nickname}}</mat-card-title>
                            <mat-card-subtitle>{{kv.key.user.id}}</mat-card-subtitle>
                            <div *ngIf="moderator">
                                <button (click)="eject(kv.key)">Eject</button>
                            </div>
                        </mat-card-header>
                        <mat-card-content class="content">
                            <div *ngFor="let kvj of kv.value | keyvalue" class="col">
                                <!-- [mediaStream]="kvj.value.mediaStream" -->
                                <app-remote-stream [remoteStream]="kvj.key" 
                                    [fullscreen]="false"></app-remote-stream>
                                <div>
                                    <button (click)="getMediaStreamConstraints(kvj.key)">getConstraints</button>
                                </div>
                                <div>
                                    <button (click)="applyMediaStreamConstraintsHD(kvj.key)">HD</button>
                                    <button (click)="applyMediaStreamConstraintsVGA(kvj.key)">VGA</button>
                                </div>
                                <!-- <div *ngIf="moderator">
                                    <button *ngIf="!mediaRecorder"
                                        (click)="record(kvj.value.mediaStream)">Record</button>
                                    <button *ngIf="mediaRecorder" (click)="stopRecording()">StopRecording</button>
                                </div> -->
                            </div>
                            <div class="row" *ngIf="localMediaStream">
                                <div class="col">
                                    <!-- <p>LocalStream id : {{localStream?.id}}</p>
                                <p>MediaStream id : {{localMediaStream?.id}}</p> -->
                                </div>
                            </div>
                        </mat-card-content>
                        <!-- <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions> -->
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
            <!-- class="position-absolute top-0 start-0" -->
            <!-- (onTracksStatusChanged)="localStream?.notifyTracksStatusChanged()" -->
            <app-local-stream [mediaStream]="localMediaStream">
            </app-local-stream>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>Conversation id : {{conversation?.id}}</p>
            <p>User id : {{localParticipant?.user?.id}}</p>
            <p>User nickname : {{localParticipantData?.nickname}}</p>
            <p>User moderator : {{moderator}}</p>
            <p>Others can join at url
                <a href="{{url}}" target="_blank" rel="noopener">{{url}}</a>
            </p>
            <p>Conversation moderated : {{moderated}}</p>
            <p>
                <button (click)="toggleModeration()">toggleModeration</button>
            </p>
        </div>
    </div>

    <div>
        <p *ngFor="let pair of messages">{{pair[0].nickname}}:{{pair[1]}}</p>
    </div>

    <form [formGroup]="messageFormGroup" (ngSubmit)="sendMessage()">
        <mat-form-field appearance="fill">
            <mat-label>Message</mat-label>
            <input matInput #message maxlength="256" placeholder="Ex. I need help with..." formControlName="message">
            <!-- <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint> -->
            <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!messageFormGroup.valid"
            title="Send Message">Send&nbsp;<em class="bi bi-chat-left"></em></button>
    </form>

    <div class="row" *ngIf="isWaitingForAcceptance">
        <div class="col">
            <br>
            <p class="text-center">
                <mat-spinner [diameter]="16"></mat-spinner>
            </p>
        </div>
    </div>

    <div class="row">
        <p>({{remoteCandidates.size}}) remoteCandidates</p>
        <div *ngFor="let candidate of remoteCandidates" class="col">
            <button (click)="accept(candidate)">Accept {{candidate.userData.nickname}}</button>
            <button (click)="accept(candidate)">Reject {{candidate.userData.nickname}}</button>
        </div>
    </div>
    <div class="row">
        <p>({{remoteParticipants.size}}) remoteParticipants</p>
        <div *ngFor="let participant of remoteParticipants" class="col">
            <p>{{participant.user.id}}</p>
            <button *ngIf="moderator" (click)="eject(participant)">Eject</button>
        </div>
    </div>

    <div>
        <button (click)="localStream?unpublish():publish()">{{localStream?'unpublish':'publish'}}</button>
    </div>
    <div>
        <button (click)="shareScreen()">shareScreen</button>
    </div>
    <div>
        <button (click)="goHd()">goHd</button>
    </div>
    <div>
        <button (click)="goHDByApplyConstraints()">goHDByApplyConstraints</button>
    </div>
    <div>
        <button (click)="frameRate24()">frameRate24</button>
    </div>
    <div>
        <button
            (click)="doAppyAudioConstraint('echoCancellation',!echoCancellation);echoCancellation=!echoCancellation">doAppyAudioConstraint
        </button>
    </div>

    <div>
        <button (click)="blur()">blur </button>
    </div>

    <div>
        <button (click)="signOut()">signOut</button>
    </div>

    <!-- <div class="row">
        <div *ngFor="let kv of conversation?.peersById | keyvalue" class="col">
            <p>{{kv.key}} : {{kv.value.id}}</p>
        </div>
    </div> -->

    <a #dwnld style="display:none;" href></a>
    <span>mediaStreamsByParticipantAndStream.size = {{mediaStreamsByParticipantAndStream.size}}</span>

    <p><a routerLink="/bye">Bye</a></p>

</div>