<div>
    <!-- <div *ngFor="let kv of mediaStreamsByParticipantAndStream | keyvalue" class="row">
        <p>User {{kv.key.id}} </p>
        <span>kv.value.size = {{kv.value.size}}</span>
        <div *ngFor="let kvj of kv.value | keyvalue" class="col">
            <span>{{kvj.value[0]}}</span>
            <app-stream-video [mediaStream]="kvj.value[1]"></app-stream-video>
            <div>
                <button *ngIf="!mediaRecorder" (click)="record(kvj.value[1])">Record</button>
                <button *ngIf="mediaRecorder" (click)="stopRecording()">StopRecording</button>
            </div>
        </div>
    </div> -->

    <!-- rowHeight="100px" -->

    <div class="row" *ngIf="localMediaStream&&mediaStreamsByParticipantAndStream.size===0">
        <div class="col">
            <p>MediaStream id : {{localMediaStream?.id}}</p> -->
            <app-stream-video [mediaStream]="localMediaStream"></app-stream-video>
        </div>
    </div>
    <div class="row" *ngIf="localMediaStream&&mediaStreamsByParticipantAndStream.size>0">
        <div class="col">
            <mat-grid-list cols="1">
                <mat-grid-tile *ngFor="let kv of mediaStreamsByParticipantAndStream | keyvalue" [colspan]="1" [rowspan]="1">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <!-- <div mat-card-avatar class="example-header-image"></div> -->
                            <mat-card-title>{{kv.key.user.userData?.nickname}}</mat-card-title>
                            <mat-card-subtitle>{{kv.key.user.id}}</mat-card-subtitle>
                            <div *ngIf="moderator">
                                <button (click)="eject(kv.key)">Eject</button>
                            </div>
                        </mat-card-header>
                        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                        <mat-card-content class="container">
                            <div *ngFor="let kvj of kv.value | keyvalue" class="col">
                                <app-stream-video [mediaStream]="kvj.value[1]" [fullscreen]="true"></app-stream-video>
                                <div *ngIf="moderator">
                                    <button *ngIf="!mediaRecorder" (click)="record(kvj.value[1])">Record</button>
                                    <button *ngIf="mediaRecorder" (click)="stopRecording()">StopRecording</button>
                                </div>
                            </div>
                            <div class="row" *ngIf="localMediaStream">
                                <div class="col over">
                                    <!-- <p>LocalStream id : {{localStream?.id}}</p>
                                <p>MediaStream id : {{localMediaStream?.id}}</p> -->
                                    <app-stream-video [mediaStream]="localMediaStream"></app-stream-video>
                                </div>
                            </div>
                        </mat-card-content>
                        <!-- <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions> -->
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>Conversation id : {{conversation?.id}}</p>
            <p>User id : {{localParticipant?.user?.id}}</p>
            <p>User nickname : {{localParticipantData?.nickname}}</p>
            <p>User moderator : {{moderator}}</p>
            <p>Others can join at url
                <a href="{{url}}" target="_blank" rel="noopener">{{url}}</a>
            </p>
            <p>Conversation moderated : {{moderated}}</p>
            <p>
                <button (click)="toggleModeration()">toggleModeration</button>
            </p>
        </div>
    </div>

    <div>
        <p *ngFor="let pair of messages">{{pair[0].nickname}}:{{pair[1]}}</p>
    </div>

    <form [formGroup]="messageFormGroup" (ngSubmit)="sendMessage()">
        <mat-form-field appearance="fill">
            <mat-label>Message</mat-label>
            <input matInput #message maxlength="256" placeholder="Ex. I need help with..." formControlName="message">
            <!-- <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint> -->
            <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!messageFormGroup.valid" title="Send Message">Send&nbsp;<em class="bi bi-chat-left"></em></button>
    </form>

    <div class="row" *ngIf="isWaitingForAcceptance">
        <div class="col">
            <br>
            <p class="text-center">
                <mat-spinner [diameter]="16"></mat-spinner>
            </p>
        </div>
    </div>

    <div class="row">
        <p>({{remoteCandidates.size}}) remoteCandidates</p>
        <div *ngFor="let candidate of remoteCandidates" class="col">
            <button (click)="accept(candidate)">Accept {{candidate.userData.nickname}}</button>
            <button (click)="accept(candidate)">Reject {{candidate.userData.nickname}}</button>
        </div>
    </div>
    <div class="row">
        <p>({{remoteParticipants.size}}) remoteParticipants</p>
        <div *ngFor="let participant of remoteParticipants" class="col">
            <p>{{participant.user.id}}</p>
            <button *ngIf="moderator"(click)="eject(participant)">Eject</button>
        </div>
    </div>

    <div>
        <button (click)="localStream?unpublish():publish()">{{localStream?'unpublish':'publish'}}</button>
    </div>
    <div>
        <button (click)="shareScreen()">shareScreen</button>
    </div>
    <div>
        <button (click)="goHd()">goHd</button>
    </div>
    <div>
        <button (click)="signOut()">signOut</button>
    </div>

    <!-- <div class="row">
        <div *ngFor="let kv of conversation?.peersById | keyvalue" class="col">
            <p>{{kv.key}} : {{kv.value.id}}</p>
        </div>
    </div> -->

    <a #dwnld style="display:none;" href></a>
    <span>mediaStreamsByParticipantAndStream.size = {{mediaStreamsByParticipantAndStream.size}}</span>

</div>